dist
build
coverage
node_modules
logs
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
.nyc_output
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
.env.*
.temp
.tmp
pids
*.pid
**/volumes/*
